body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF7E4;
    color: black;
    overflow-x: hidden;
}

header {
    background-color: #FFA200;
    color: black;
    padding: 1em;
    border-bottom: 6px solid black;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'prompt', sans-serif;
}

@font-face {
    font-family: 'theboldfont';
    src: url(theboldfont.ttf);
}

@font-face {
    font-family: 'prompt';
    src: url(Prompt-Regular.ttf);
}

h1 {
    margin: 0;
    font-family: 'theboldfont', sans-serif;
    font-size: 24px;
}

h2 {
    margin: 0;
    font-family: 'theboldfont', sans-serif;
    font-size: 36px;
    margin: 72px 40px 0px 140px; /* Establece los márgenes superior, derecho, inferior y izquierdo*/
    text-align: left; /* Alinea el texto a la izquierda */
}

p {
    max-width: 800px; /* Establece el ancho máximo del contenido del párrafo */
    margin: 24px 40px 60px 140px; /* Establece los márgenes superior, derecho, inferior y izquierdo, respectivamente */
    font-family: 'prompt', sans-serif;
    text-align: left; /* Alinea el texto a la izquierda */
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px
  }
  
  .small-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .small-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
  }
  
  .large-image {
    width: 540px;
    height: 540px;
    overflow: hidden;
    border: 4px solid black;
  }
  
  .large-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.multiply {
    mix-blend-mode: multiply;
  }

.borde {
    border: 4px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.separator-line {
    width: 60%; /* Ajusta el ancho de la línea según tus necesidades */
    height: 4px; /* Ajusta el grosor de la línea según tus necesidades */
    background-color: #000; /* Ajusta el color de la línea según tus necesidades */
    margin-bottom: 60px /* Ajusta los márgenes superior e inferior según tus necesidades */
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    padding: 0 20px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}

nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: black;
    transition: width 0.2s;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}

nav li:hover::after {
    width: 74%;
}

.otros-proyectos-seccion {
    background-color: #FFF7E4;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'prompt', sans-serif;
  }
  
  .titulo-centrado {
    text-align: center;
  }
  
  .otros-proyectos-title {
    font-size: 48px;
    color: black;
    margin: 10px 0;
    display: inline-block;
    position: relative;
  }
  
  .otros-proyectos-title::before,
  .otros-proyectos-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: black;
  }
  
  .otros-proyectos-title::before {
    left: -60px;
  }
  
  .otros-proyectos-title::after {
    right: -60px;
  }
  
  .trabajos-gallery {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .trabajos-image-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 6px solid black;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .trabajos-image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
  }
  
  .trabajos-image-link:hover {
    transform: scale(1.1);
  }
  
  .trabajos-image-link:hover img {
    filter: brightness(0.85) sepia(1) saturate(4) hue-rotate(-15deg);
  }

.footer-bar {
    width: 100%;
    height: 160px;
    background-color: black;
    color: #FFA200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.social-icons {
    display: flex;
    align-items: center;
    padding-right: 160px;
}

.social-icons a {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.social-icons .instagram-icon img, .social-icons .behance-icon img {
    width: 32px;
    height: auto;
    vertical-align: middle;
}

.email-text a {
    color: #FFA200;
}

.back-to-top {
    display: inline-block;
    background-color: #FFA200;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
  
  .back-to-top:hover {
    opacity: 1;
  }